<!-- <style>
  ul{
    /* float:right; */
  }
  ul li{
    display:inline-block;
  }

  button{
    width:100px;
    /* color:green; */
    /* font-size:x-large; */
  }
</style>

<nav class="navbar bg-primary">
  <h1><a href="http://localhost:4200/" class="navbar-brand">Home Page </a></h1>
  <ul class="navbar-nav ">
    <li class="nav-item">
      <a href="" class="nav-link">
        <button
          class="btn btn-primary nav-link"
          style="width:100px ;"
          routerLink="login"
        >
          Login
        </button></a
      >
    </li>
    <a href="" class="nav-link"></a>
    <li class="navbar-item">
      <button
        class="nav-link btn btn-primary"
        routerLink="signup"
        style="width:100px;"
      >
        SingUp
      </button>
    </li>
  </ul>
</nav> -->
