<style></style>

<nav class="navbar navbar-light bg-primary">
  <h1 class="ml-4">
    <a
      href="https://angular-ivy-f3stvy.stackblitz.io"
      class="navbar-brand white"
      >Home Page
    </a>
  </h1>

  <ul>
    <li>
      <button class="btn btn-primary" style="width:100px ;" routerLink="login">
        Login
      </button>
    </li>
    <li>
      <button class="btn btn-primary" routerLink="signup" style="width:100px;">
        SingUp
      </button>
    </li>
    <li></li>
  </ul>
</nav>
