<form [formGroup]="login" #loginForm="ngForm" class="container-fluid">
  <div class="container form-group mt-5">
    <h1 class="mt-5 mb-5">Login</h1>

    <div>
      <input
        class="form-control"
        placeholder="Email"
        formControlName="email"
        type="email"
      />
      <div
        *ngIf="
          login.controls['email'].errors && login.controls['email'].touched
        "
      >
        <span
          class="text-danger"
          *ngIf="login.controls['email'].errors?.['required']"
          >Email Required</span
        >
        <span class="text-danger" *ngIf=" email && email.errors?.['email']"
          >Please enter a valid email</span
        >
      </div>
      <div
        *ngIf="login.controls['email'].valid && login.controls['email'].touched"
      >
        <span class="text-success">sucess</span>
      </div>
    </div>

    <div>
      <input
        class="form-control mt-4"
        placeholder="Password"
        formControlName="password"
        type="password"
      />
      <div
        *ngIf="
          login.controls['password'].errors &&
          login.controls['password'].touched
        "
      >
        <span
          class="text-danger"
          *ngIf="password && password.errors?.['required']"
          >Password Required</span
        >
        <span
          class="text-danger"
          *ngIf="password && password.errors?.['minlength']"
          >Minimum 3 character allowed</span
        >
      </div>
    </div>

    <div class="center">
      <button
        [disabled]="loginForm.invalid"
        (click)="getVal(login.value)"
        class="ml-4 mt-4"
      >
        Login
      </button>
    </div>

    <p class="mt-5 center">Forgot <a href="">Password</a>?</p>

    <p class="mt-2 center">Dont have account <a href="/signup">signup</a>?</p>
  </div>
</form>
<router-outlet></router-outlet>

<!-- {{login.value | json}}  -->
