<form
  [formGroup]="loginForm"
  #loginForms="ngForm"
  class="container-fluid"
  (ngSubmit)="login()"
>
  <div class="container form-group mt-5">
    <h1 class="mt-5 mb-5">Login</h1>

    <div>
      <input
        class="form-control"
        placeholder="Email"
        formControlName="email"
        type="email"
      />
      <!-- <div
        *ngIf="
          loginForm.controls['email'].errors &&
          loginForm.controls['email'].touched
        "
      > -->

      <div *ngIf="f.email.errors && f.email.touched">
        <!-- <span class="text-danger" *ngIf="loginForm.controls['email'].errors.required"
          >Email Required</span
        > -->
        <span
          class="text-danger"
          *ngIf="f.email.errors.required"
          >Email Required</span
        >
   
        <span class="text-danger" *ngIf=" f.email.errors.email"
        >Please enter a valid email</span
      >
      </div>

      <div
      *ngIf="
        f.email.valid && f.email.touched
      "
    >
      <span class="text-success">sucess</span>
    </div>
    </div>

    <div>
      <input
        class="form-control mt-4"
        placeholder="Password"
        formControlName="password"
        type="password"
      />
      <!-- <div
        *ngIf="
          loginForm.controls['password'].errors &&
          loginForm.controls['password'].touched
        "
      > -->

      <div *ngIf="f.password.errors && f.password.touched">
        <span class="text-danger" *ngIf="f.password.errors.required"
          >Password Required</span
        >

        <span class="text-danger" *ngIf="f.password.errors.minlength"
          >Minimum 3 character allowed</span
        >
      </div>
    </div>

    <div class="center">
      <button
        [disabled]="loginForms.invalid"
        (click)="getVal(loginForm.value)"
        class="ml-4 mt-4"
      >
        Login
      </button>
    </div>

    <p class="mt-5 center">Forgot <a href="">Password</a>?</p>

    <p class="mt-2 center">Dont have account <a href="/signup">signup</a>?</p>
  </div>
</form>
<router-outlet></router-outlet>

<!-- {{login.value | json}}  -->
