<h1><a href="http://localhost:4200/">Home Page </a></h1>
<div class="container-fluid">
  <nav class="navbar">
    <button class="btn btn-primary" style="width:100px ;" routerLink="login">
      Login
    </button>
    <button class="btn btn-primary" routerLink="signup" style="width:100px;">
      SingUp
    </button>
  </nav>
</div>

<!-- <app-login></app-login>
<app-signup></app-signup> -->
<!-- 
  <app-sigunp></app-sigunp> -->

<router-outlet></router-outlet>
<!-- <app-login></app-login> -->
<!-- <span>Login: <a routerLink="login"></a></span> -->
