<form [formGroup]="signup" #signupForm="ngForm" class="container-fluid">
  <div class="container form-group mt-5">
    <h1 class="mt-5">Signup</h1>

    <div>
      <input
        class="form-control"
        placeholder="Name"
        formControlName="name"
        type="text"
      />
      <div
        *ngIf="
          signup.controls['name'].errors && signup.controls['name'].touched
        "
      >
        <span
          *ngIf="signup.controls['name'].errors?.['required']"
          class="text-danger"
          >username Required</span
        >
        <span class="text-danger" *ngIf="name && name.errors?.['minlength']"
          >required Minimum 3 characters</span
        >
      </div>
    </div>

    <div>
      <input
        class="form-control"
        placeholder="Email"
        formControlName="email"
        type="email"
      />

      <!-- IF invalid -->
      <div
        *ngIf="
          signup.controls['email'].errors && signup.controls['email'].touched
        "
      >
        <span class="text-danger" *ngIf="email && email.errors?.['required']"
          >email Required</span
        >
        <span class="text-danger" *ngIf=" email && email.errors?.['email']"
          >Enter valid email</span
        >
      </div>
      <!-- IF VALID -->
      <div *ngIf="email && email.valid && email.touched"></div>
    </div>
    <div>
      <input
        class="form-control"
        placeholder="Password"
        formControlName="password"
        type="password"
      />
      <div
        *ngIf="
          signup.controls['password'].errors &&
          signup.controls['password'].touched
        "
      >
        <span
          class="text-danger"
          *ngIf="password && password.errors?.['required']"
          >password Required</span
        >
        <span
          class="text-danger"
          *ngIf="password && password.errors?.['minlength']"
          >required Minimum 3 characters</span
        >
      </div>
    </div>

    <div>
      <input
        class="form-control"
        placeholder="Contact"
        formControlName="contact"
        type="text"
      />
      <div
        *ngIf="
          signup.controls['contact'].errors &&
          signup.controls['contact'].touched
        "
      >
        <span
          class="text-danger"
          *ngIf="contact && contact.errors?.['required']"
          >contact Required</span
        >
        <span class="text-danger" *ngIf="contact && contact.errors?.['pattern']"
          >number should be 10 digit</span
        >
      </div>
    </div>

    <div class="center">
      <button
        [disabled]="!signupForm.valid"
        (click)="getVal(signup.value)"
        class="ml-4 mt-4"
      >
        Signup
      </button>
    </div>

    <p class="mt-2 center">Alrady have account<a href="/login">Login</a>?</p>
  </div>
</form>
