/* body{
    background-color:red;
} */

.container {
  background-color: white;
  width: 26%;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  border: 0;
  border-radius: 0px;
  border-bottom: 1px solid #555;
}

h1 {
  text-align: center;
}

button {
  width: 75%;
  margin-left: 35px;
  color: white;
  border: none;
  font-size: 20px;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}
