body {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

label {
  font-size: x-large;
}

/* body{
  background-color:red;
} */

.container {
  background-color: white;
  /* width: 26%; */
  /* width: 200 px; */
  /* border: 1px solid black; */
  border-radius: 11px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  border: 0;
  border-radius: 0px;
  border-bottom: 1px solid #555;
  margin-top: 20px;
}







.center {
  text-align: center;
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

input.ng-valid.ng-touched {
  border-bottom: 3px solid green;
}
